{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white text-center">
                    <h4>Crear cuenta</h4>
                </div>
                <div class="card-body">

                    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
  <!-- ojo invisible de google siendo bloqueado -->
<style>
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}
</style>


    {% for campo in form %}
<div class="mb-3">
    <label class="form-label">{{ campo.label }}</label>
{% if campo.name == "password1" or campo.name == "password2" %}
<div class="input-group">
    {{ campo }}
    <button type="button" class="btn btn-outline-secondary"
        onclick="togglePassword('{{ campo.id_for_label }}', this)">
        👁
    </button>
</div>
{% else %}
{{ campo }}
{% endif %}

    {% if campo.errors %}
        <div class="text-danger small">{{ campo.errors }}</div>
    {% endif %}
</div>
{% endfor %}

    <button type="submit" class="btn btn-primary w-100">Registrarme</button>
</form>
<script>
function togglePassword(id, btn) {
    const input = document.getElementById(id);

    if (input.type === "password") {
        input.type = "text";
        btn.innerHTML = "🙈";
    } else {
        input.type = "password";
        btn.innerHTML = "👁";
    }
}
</script>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
